# 2. VARIABLES, OPERADORES, LISTAS Y FUNCIONES

**EJERCICIOS:**

En primer lugar, introduciremos unos conceptos básicos muy útiles para cualquier ejercicio. 
* **Comentarios:** Si queremos poner un comentario explicativo que no sea parte del código, solo tenemos que poner el simbolo # delante de nuestro texto

In [1]:
#Esto es un ejemplo de comentario

* **Ejecutar una celda:** Para ejecutar una celda en los notebooks de Google Colab solo tenemos que hacer la combinación de teclas Ctrl+Enter, para ejecutar una celda y quedarnos en ella, o Shift+Enter para ejecutar una celda y pasar a la siguiente. Shift+Enter es muy útil para ejecutar una celda tras otra.

A partir de ahora ejecuta los ejemplos siguientes para ver su funcionamiento.

* **Pedir al usuario un dato:** Si queremos que al ejecutar un programa éste nos pida información para ser introducida por el usuario, debemos usar la función input e indicar previamente de que tipo será la variable que introduzca el usuario. Es una buena práctica dejar un espacio al final de la quote que hagas para pedir el dato.

In [5]:
#Para introducir un entero
age = int(input('Cuántos años tienes? '))

#Para introducir una string
name = str(input('Cómo te llamas? '))

Cuántos años tienes? 24
Cómo te llamas? Anna

Ahora hemos guardado la información proporcionada por el usuario en las variables indicadas.

* **Imprimir información:** Es muy útil siempre que estemos programando imprimir los resultados que vamos obteniendo para ver si lo estamos haciendo bien. Para imprimir el output usamos la función print. Con ella podemos imprimir tanto texto (siempre entre comillas) como variables, intercalando la información con comas. En este caso no hará falta indicar de que tipo son las variables que imprimamos.

In [6]:
print('El usuario tiene', age, 'años y se llama', name)

El usuario tiene 24 años y se llama Anna

Una vez tenemos clara esta información inicial, pasamos a los ejercicios. Deberéis imprimir el output de todos ellos para verificar que lo estáis haciendo correctamente.

**Ejercicio 1**
Definir una variable de cada tipo de los que hemos visto: int, float, string, list, dictionary y luego comprobar el tipo del que son mediante la función type(variable)

In [7]:
#Ejemplo
x = 1
type(x)

int

**Ejercicio 2**
Pide al usuario dos números y luego calcula su suma e imprímela

**Ejercicio 3**
Calcula el área de un triangulo equilátero de base=8cm y altura=3cm. Recuerda que la formúla para calcular el área de un triangulo equilátero es base por altura entre 2.

**Ejercicio 4** 
Pide un número entero al usuario y averigua si es par o impar con una sola operación

**Ejercicio 5**
Intercambia los valores de dos variables, haz que lo que contenga la variable x esté en la variable y y lo que está en la variable y esté en la x.

In [ ]:
#Definimos variables
x = 'Hello'
y = 3

**Ejercicio 6**
Consigue que todas las palabras que se encuentran en distintos strings se encuentren en un solo string que forme una frase

In [ ]:
#Definimos las palabras
word1 = '¿Qué'
word2 = 'prefieres'
word3 = 'para'
word4 = 'desayunar?'

**Ejercicio 7**
Pon en un comentario el resultado que crees que saldrá de cada comparador y luego ejecuta y comprueba

In [ ]:
print(9>=2 or 132<128)
print(3 in [1,4,5,32] and 1==1)
print(9+3*2+1 == 25)
print(24%2 == 0)
print(15//2 == 7.5)
print(2**3 != 8)

**Ejercicio 8** Para encontrar el máximo de una lista podemos usar la función max(), pero en este caso lo encontraremos de una forma distinta y comprobaremos que lo hayamos hecho bien con la función max(). Encuentra el máximo entre las listas list1 y list2: Dadas dos listas list1 y list2 concatenalas, luego ordena la lista resultante mediante la función .sort() y quédate con el último elemento que será el máximo.

In [19]:
list1 = [6, 13, 8, 21]
list2 = [2, -50, 25]

**Ejercicio 9** Añade la palabra 'Fin' al final de la lista obtenida en el apartado anterior mediante la función .append(). Y añade en la posición 2 de la misma lista la string 'Posición 2' mediante la función .insert()

**Ejercicio 10** Accede al primer elemento de la lista obtenida en el apartado anterior

**Ejercicio 11** Guarda en una lista llamada first3 los tres primeros elementos de la lista del apartado anterior y en otra lista llamada last3 los 3 últimos elementos. 

Recuerda que para seleccionar un trozo de una lista lo podemos indicar de la siguiente manera: Si quiero obtener de la posición 2 a la 5 de mylist los seleccionaré haciendo mylist[2:5]. Si queremos indicar el primer o el último elemento no hace falta poner nada en ese lugar, con mylist[:] obtendríamos todos los elementos de la lista.

**Ejercicio 12** 
Para ordenar una lista, tenemos la función lista.sort() y la función sorted(lista). Con la función .sort() ordenamos la lista a la que aplicamos la función de manera permanente. Con la función sorted() hacemos una copia ordenada de la lista. Por defecto, estas funciones ordenan de menor a mayor en caso de ser números y en orden alfabético en caso de tener strings. Pero podemos colocar la expresion reverse=True dentro del parentesis de las funciones de orden, con la que el orden será el inverso.

Ordena la lista my_list de menor a mayor y haz una copia de esta ordenada de mayor a menor usando las funciones acabadas de explicar.

In [25]:
my_list = [-88, 21, 5, -2, 0, 4, 12]

**Ejercicio 13**
Dado el siguiente diccionario, responde a las siguientes preguntas:

In [ ]:
#Definimos el diccionario

dict = {name : 'Britney Spears', born : 1981, profession : 'singer'}

* En que año nació Britney Spears?

* Añade al diccionario el país en el que nació Britney Spears

* Cambia la profesión de 'singer' a 'dancer'

**Ejercicio 14** 
Crea un diccionario con las notas que ha sacado Pepito en Matemáticas, Lengua, Química y Historia (inventadas) y devuelve su mejor nota. Recuerda que hay una función que nos devuelve el máximo en una secuencia.

Ahora extrae las notas de Pepito del diccionario mediante la función .values() y guardalas en una lista. Con esta lista y usando las funciones sum() y len(), calcula la media de las notas de Pepito.